/*************************************
 * generic styling for ALS elements
 ************************************/
.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}

/*************************************
 * specific styling for #demo2
 ************************************/

.alsWrap {
    width: 1807px;
    height: 87px;
    position: relative;
}
#demo2 {
width: 100%;
margin: 0 auto;
}

#demo2 .als-item {
	min-height: 80px;
	width: 175px;
	text-align: center;
}

#demo2 .als-item img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

#demo2 .als-prev, #demo2 .als-next {
	top: 28px;
}

#demo2 .als-prev {
	left: 1.7%;
}

#demo2 .als-next {
	right: 1.7%;
}


.botConTotalNum{
    font-size: 19px;
    font-weight: 700;
    color: #7f7f7f;
    float: left;
}

.botConNum{
    font-size: 14px;
    color: #ff9000;
    margin-top: 3px;
}

.botConNum0{
    font-size: 14px;
    color: #000;
    margin-top: 3px;
}

.conBotTop{
    margin-bottom: 10px;
    margin-top: 16px;
    text-align: center;
    font-size: 0.8em;
    min-height: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.conBotBot{
    width: 100%;
    height: 20px;
    margin-left: 38%;
}

.conBotImg{
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 8px;
}

.conBotImg a{
    text-decoration: none;
}

.conBotIcon{
    display: block;
    line-height: 6px;
    color: #7f7f7f;
}
