{% extends 'base.html' %}
{% load web_filter %}
{% block content %}
{% load static %}



<script>
	console.log({{data|safe}});
	function caret_event(){
		console.log('hi');
		$('#acordian').slideToggle();
		console.log('hi');
	};
</script>
<!-- BEGIN #content -->
<div id="content" class="app-content">
	<!-- BEGIN page-header -->
	<h1 class="page-header">
		보안 취약점 진단 상세
	</h1>
	<!-- END page-header -->
	<!-- BEGIN row -->
	<div class="row">
		<!-- BEGIN card-body -->
		<div class="card mb-2">
			<div class="card-body h-130px p-2">
				<div class="detail-content">
					<ul>
						{% if data.item %}
							<li>분류 : {{data.item.0.SWV}}</li>
							<li>진단 항목 : {{data.item.0.Title}}</li>
							<li>진단 항목 설명: {{data.item.0.Text}}</li>
							<li>판단기준:
								<p>- 양호: {{data.item.0.Judge.0}}</p>
								<p>- 취약: {{data.item.0.Judge.1}}</p>
							</li>
						{% else %}
							<li> Data 연동에 실패했습니다 </li>
						{% endif%}
					</ul>
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
		<div class="card-body">
			<div class="d-flex align-items-center mb-2">
				<!-- BEGIN #weak detail datatable -->
				<div class="datatable w-100">
					<div class="card">
						<div class="ex">
						</div>
						<div class="card-body" id='swv_api'>
							<table id="weakTableDetail" class="table weakDetail text-nowrap" width="100%">
								<thead>
								<tr>
									<th>No</th>
									<th>컴퓨터 ID</th>
									<th>호스트 이름</th>
									<th>OS 버전</th>
									<th>IP 주소</th>
									<th>자산 타입</th>
									<th>접속 일자</th>
									<th>자산 상세</th>
								</tr>
								</thead>
								<tbody>
									{% if data.item %}
									{%for item in data.item%}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{item.cid}}</td>
											<td>{{item.cpnm}}</td>
											<td>{{item.os}}</td>
											<td>{{item.ip}}</td>
											<td>{{item.type}}</td>
											<td>{{item.last_login}}</td>
											<td><i class="caret"></i><!-- <button style="display:none;" type="button" class="btn btn-warning me-2" value=" " data-bs-toggle="modal" data-bs-target="#modalXl" onclick="send_api({{item}});">확인</button> --></td>
										</tr>
										
									{% endfor %}
									{% else %}
									<tr>
										<td colspan="8">
											----------------------------------------------------------------------------------
											----------------------------------------------------------------------------------
											----------------------------------------------------------------------------------
										</td>
									</tr>
									{% endif%}
								</tbody>
							</table>
						</div>
						<div class="card-arrow">
							<div class="card-arrow-top-left"></div>
							<div class="card-arrow-top-right"></div>
							<div class="card-arrow-bottom-left"></div>
							<div class="card-arrow-bottom-right"></div>
						</div>
					</div>
				</div>
				<!-- END #weak detail datatable -->
			</div>
		</div>
		<!-- END card-body -->
	</div>
	<!-- END row -->
	<div class="modal fade border-none" id="modalXl">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="weak-wrap">
					<div class="weak-item weak-id">
						<span id = 'cid'><i class="fas fa-user fa-fw me-1"></i></span>
						<span>{{CPIDV}}</span>
					</div>
					<div class="weak-item weak-content">
						<span class="weak-title">양호:</span>
						<span class="weak-num">30(개)</span>
						<span class="weak-title">취약:</span>
						<span class="weak-num">10(개)</span>
					</div>
					<div class="weak-item weak-state">
						<select id="weak-box" class="form-select form-select-sm weakBox">
							<option value="" selected>전체</option>
							<option value="양호">양호</option>
							<option value="취약">취약</option>
						</select>
					</div>
				</div>
				<!-- BEGIN #weak detail modal table datatable -->
				<div id="weakTableModal" class="datatable w-100 h-100" style="margin: 0 auto;">
					<div class="card" >
						<div class="card-body">
							<table id="weakTableDetail_modal" class="table weakModal text-nowrap w-100">
								<thead>
								<tr>
									<th>No</th>
									<th>진단 항목</th>
									<th>상태</th>
									<th>판단 기준</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>1</td>
									<td>관리자 계정 이름 변경 여부
										<span class="weak-tooltip">
												<i class="fas fa-exclamation-circle"></i>
												<span class="weak-tooltip-text">진단 항목 설명: 일반적으로 관리자 계정을 Administrator로 설정한 경우 로그온 시도 실패 횟수의 제한이 없는 점을 이용해 악의적인 사용자가 패스워드 유추 공격을 계속해서 시도할 수 있으므로 점검한다.</span>
										</span>
									</td>
									<td>양호</td>
									<td>
										<span class="state-tooltip">
											<i class="fas fa-plus-square"></i>
											<span class="state-tooltip-text">판단 기준:<br>
											- 양호: Administrator Default 계정 이름을 변경한 경우<br>- 취약: Administrator Default 계정 이름을 변경하지 않은 경우</span>
										</span>
									</td>
								</tr>
								<tr>
									<td>2</td>
									<td>게스트 계정 활성화 여부</td>
									<td>취약</td>
									<td></td>
								</tr>
								<tr>
									<td>3</td>
									<td>현재 계정 외 활성화 여부</td>
									<td>취약</td>
									<td></td>
								</tr>
								<tr>
									<td>4</td>
									<td>계정 잠금 횟수 설정 여부</td>
									<td>양호</td>
									<td></td>
								</tr>
								<tr>
									<td>5</td>
									<td>해독 가능 암호화 사용 여부</td>
									<td>양호</td>
									<td></td>
								</tr>
								<tr>
									<td>6</td>
									<td>관리자 그룹의 추가 관리자 활성화 여부</td>
									<td>양호</td>
									<td></td>
								</tr>
								<tr>
									<td>7</td>
									<td>Everyone 사용 권한 적용 여부</td>
									<td>양호</td>
									<td></td>
								</tr>
								<tr>
									<td>8</td>
									<td>계정 잠금 기간 설정 여부</td>
									<td>취약</td>
									<td></td>
								</tr>
								<tr>
									<td>9</td>
									<td>패스워드 복잡성 설정 여부</td>
									<td>취약</td>
									<td></td>
								</tr>
								<tr>
									<td>10</td>
									<td>패스워드 최소 암호 길이 설정 여부</td>
									<td>양호</td>
									<td></td>
								</tr>
								<tr>
									<td>11</td>
									<td>패스워드 최대 사용 기간 설정 여부</td>
									<td>양호</td>
									<td></td>
								</tr>
								<tr>
									<td>12</td>
									<td>패스워드 최소 사용 기간 설정 여부</td>
									<td>양호</td>
									<td></td>
								</tr>
								<tr>
									<td>13</td>
									<td>마지막 사용자 이름 표시 여부</td>
									<td>취약</td>
									<td></td>
								</tr>
								<tr>
									<td>14</td>
									<td>비지정 사용자의 로컬 로그온 허용 여부</td>
									<td>양호</td>
									<td></td>
								</tr>
								<tr>
									<td>15</td>
									<td>익명 SID 변환 허용 여부</td>
									<td>양호</td>
									<td></td>
								</tr>
								<tr>
									<td>16</td>
									<td>최근 암호 기억 설정 여부</td>
									<td>양호</td>
									<td></td>
								</tr>
								<tr>
									<td>17</td>
									<td>콘솔 로그온 시 로컬에서 빈 암호 사용 제한 여부</td>
									<td>양호</td>
									<td></td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class="card-arrow">
							<div class="card-arrow-top-left"></div>
							<div class="card-arrow-top-right"></div>
							<div class="card-arrow-bottom-left"></div>
							<div class="card-arrow-bottom-right"></div>
						</div>
					</div>
				</div>
				<!-- END #weak detail modal table datatable -->
			</div>
		</div>
	</div>
</div>
<!-- END #content -->




{% endblock %}
