{% extends 'base.html' %}
{% load web_filter %}
{% block content %}
{% load static %}

<!-- BEGIN #header -->

<!-- END #header -->

<!-- BEGIN #sidebar -->

<!-- END #sidebar -->

<!-- BEGIN #content -->
<div id="content" class="app-content">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-3 -->
        <div class="col-xl-6 col-lg-6">
            <!-- BEGIN card -->
            <div class="card mb-3">
                <!-- BEGIN card-body -->
                <div class="card-body h-150px">
                    <!-- BEGIN title -->
                    <button type="button" class="btn btn-outline-link btn-sm btn-moreInfo osVersion-moreInfo"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="d-flex fw-bold small">
                        <div class="flex-grow-1">OS 버전별 서버 수 (상위 8개)</div>
                    </div>
                    <!-- END title -->
                    <!-- BEGIN stat-lg -->
                    <div class="h-100px d-flex flex-row align-items-center justify-content-sm-between">
                        <div class="d-flex col-9">
                            {% if chartData.os_chartPartOne %}
                            <div class="col-5 small text-white text-opacity-50 text-truncate">
                                {% for data in chartData.os_chartPartOne %}
                                <i class="fas fa-server fa-fw me-1"></i>
                                <span title="{{data.name}}">{{data.name}}</span>
                                <br>
                                {% endfor %}
                            </div>
                            <div class="col-1">
                                {% for data in chartData.os_chartPartOne %}
                                <div class="small text-white text-opacity-50 text-truncate text-center" title="{{data.value}}">{{ data.value }}</div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="col-5 small text-white text-opacity-50 text-truncate ps-3">
                                {% for data in chartData.os_chartPartTwo %}
                                <i class="fas fa-server fa-fw me-1"></i>
                                <span title="{{data.name}}">{{data.name}}</span>
                                <br>
                                {% endfor %}
                            </div>
                            <div class="col-1">
                                {% for data in chartData.os_chartPartTwo %}
                                <div class="small text-white text-opacity-50 text-truncate text-center" title="{{data.value}}">{{ data.value }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mt-n3 mb-n2 h-100px" id="apexOSversionChart"></div>
                        </div>
                    </div>
                    <!-- END stat-lg -->
                </div>
                <!-- END card-body -->

                <!-- BEGIN card-arrow -->
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
                <!-- END card-arrow -->
            </div>
            <!-- END card -->
        </div>
        <!-- END col-3 -->


        <!-- BEGIN col-3 -->
        <div class="col-xl-3 col-lg-6">
            <!-- BEGIN card -->
            <div class="card mb-3">
                <!-- BEGIN card-body -->
                <div class="card-body h-150px">
                    <!-- BEGIN title -->
                    <button type="button" class="btn btn-outline-link btn-sm btn-moreInfo serverBandBy-moreInfo"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="d-flex fw-bold small">
                        <div class="flex-grow-1">각 대역별 서버 수 (상위 3개)</div>
                    </div>
                    <!-- END title -->
                    <!-- BEGIN stat-lg -->
                    <div class="h-100px">
                        <!-- END stat-sm -->
                        <div>
                            <div class="col-12">
                                <div class="mt-n3 mb-n2 h-100px" id="apexIPlistChart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END stat-lg -->
                </div>
                <!-- END card-body -->

                <!-- BEGIN card-arrow -->
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
                <!-- END card-arrow -->
            </div>
            <!-- END card -->
        </div>
        <!-- END col-3 -->

        <!-- BEGIN col-3 -->
        <div class="col-xl-3 col-lg-6">
            <!-- BEGIN card -->
            <div class="card mb-3">
                <!-- BEGIN card-body -->
                <div class="card-body h-150px">
                    <!-- BEGIN title -->
                    <button type="button" class="btn btn-outline-link btn-sm btn-moreInfo runningService-moreInfo"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="d-flex fw-bold small">
                        <div class="flex-grow-1">실행 중인 서비스 통계 (상위 5개)</div>
                    </div>
                    <!-- END title -->
                    <!-- BEGIN stat-lg -->
                    <div class="h-100px d-flex flex-row align-items-center justify-content-sm-between">
                        <div class="col-5 small text-white text-opacity-50 text-truncate">
                            {% if chartData.donutChartDataList %}
                            {% for data in chartData.donutChartDataList %}
                            <i class="fas fa-cogs fa-fw me-1"></i>
                            <span title="{{data.name}}">{{data.name}}</span>
                            <br>
                            {% endfor %}
                        </div>
                        <div class="col-2">
                            {% for data in chartData.donutChartDataList %}
                             <div class="small text-white text-opacity-50 text-truncate text-center" title="{{data.value}}">{{data.value}}</div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-5">
                            <div class="mt-n3 mb-n2 h-100px" id="apexRunServiceChart"></div>
                        </div>
                    </div>
                    <!-- END stat-lg -->
                </div>
                <!-- END card-body -->
                <!-- BEGIN card-arrow -->
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
                <!-- END card-arrow -->
            </div>
            <!-- END card -->
        </div>
        <!-- END col-3 -->

        <!-- BEGIN col-6 -->
        <div class="col-xl-6">
            <div>
                <!-- BEGIN card -->
                <div class="card mb-3">
                    <!-- BEGIN card-body -->
                    <div class="card-body h-284px">
                        <!-- BEGIN title -->
                        <button type="button" class="btn btn-outline-link btn-sm btn-moreInfo memoryCpuDisk-moreInfo"><i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="btn-group mb-3">
                            <button type="button" id="btn-memory" class="mcdBtn btn btn-outline-warning btn-sm active">메모리</button>
                            <button type="button" id="btn-cpu" class="mcdBtn btn btn-outline-warning btn-sm w-57px">CPU</button>
                            <button type="button" id="btn-disk" class="mcdBtn btn btn btn-outline-warning btn-sm">디스크</button>
                        </div>
                        <!-- END title -->
                        <div class="d-flex justify-content-center align-items-center" id="mcdDiv">
                            <!-- BEGIN chart -->
                            <div class="col-4 MemoryCharts">
                                <div id="apexMemory95usageChart"></div>
                            </div>
                            <div class="col-4 MemoryCharts">
                                <div id="apexMemory75usageChart"></div>
                            </div>
                            <div class="col-4 MemoryCharts">
                                <div id="apexMemory60usageChart"></div>
                            </div>
                            <!-- END chart -->

                            <!-- BEGIN chart -->
                            <div class="col-4 CPUCharts" style="display:none;">
                                <div id="apexCPU95usageChart"></div>
                            </div>
                            <div class="col-4 CPUCharts" style="display:none;">
                                <div id="apexCPU75usageChart"></div>
                            </div>
                            <div class="col-4 CPUCharts" style="display:none;">
                                <div id="apexCPU60usageChart"></div>
                            </div>
                            <!-- END chart -->

                            <!-- BEGIN chart -->
                            <div class="col-4 DiskCharts" style="display:none;">
                                <div id="apexDisk95usageChart"></div>
                            </div>
                            <div class="col-4 DiskCharts" style="display:none;">
                                <div id="apexDisk75usageChart"></div>
                            </div>
                            <div class="col-4 DiskCharts" style="display:none;">
                                <div id="apexDisk60usageChart"></div>
                            </div>
                            <!-- END chart -->
                        </div>
                    </div>
                    <!-- END card-body -->
                    <!-- BEGIN card-arrow -->
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                    <!-- END card-arrow -->
                </div>
                <!-- END card -->
            </div>
            <div>
                <!-- BEGIN card -->
                <div class="card mb-3">
                    <!-- BEGIN card-body -->
                    <div class="card-body h-205px">
                        <!-- BEGIN title -->
                        <div class="d-flex fw-bold small mb-2">
                            <div class="flex-grow-1">서버 총 수량 추이 그래프 (최근 30일)</div>
                        </div>
                        <!-- END title -->
                        <div class="col-12" style="padding-right: 5px;">
                            <!-- BEGIN chart -->
                            <div id="apexTotalServerChart"></div>
                            <!-- END chart -->
                            <!-- BEGIN row -->
                            <!-- END row -->
                        </div>
                    </div>
                    <!-- END card-body -->
                    <!-- BEGIN card-arrow -->
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                    <!-- END card-arrow -->
                </div>
                <!-- END card -->
            </div>
        </div>
        <!-- END col-6 -->

        <!-- BEGIN col-6 -->
        <div class="col-xl-6">
            <div>
                <!-- BEGIN card -->
                <div class="card mb-3">
                    <!-- BEGIN card-body -->
                    <div class="card-body h-284px">
                        <!-- BEGIN title -->
                        <div class="d-flex fw-bold small">
                            <div class="flex-grow-1 mb-3 " style="position: relative; text_dragNot">
                                알람 케이스 감지 모니터링
                                <div class="btn-group ps-3" style="position: absolute; right:20px; z-index:1 ">
                                    {% if MapUse.WorldUse == 'block' %}
                                    <button type="button" id="worldBtn" class="btn btn-outline-warning btn-sm who_btn active">세계
                                    </button>
                                    {%endif%}
                                    {% if MapUse.KoreaUse == 'block' %}
                                    <button type="button" id="koreaBtn" class="btn btn-outline-warning btn-sm who_btn">국내
                                    </button>
                                    {%endif%}
                                    {% if MapUse.AreaUse == 'block' %}
                                    <button type="button" id="areaBtn" class="btn btn-outline-warning btn-sm who_btn">지역
                                    </button>
                                    {%endif%}
                                    <div class="btn-group map-zoomInOut ps-20px">
                                        <button type="button" class="btn btn-outline-link btn-sm btn-zoom map-zoomIn">+</button>
                                        <button type="button" class="btn btn-outline-link btn-sm btn-zoom map-zoomOut">-</button>
                                    </div>
                                </div>
                            </div>
                            <a href="#" data-toggle="card-expand"
                               class="pt-6px text-white text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
                        </div>
                        <!-- END title -->
                        <!-- BEGIN map -->
                        <div class="ratio ratio-21x9 maps" style="width: 100%; height: 90%; margin: 0 auto;">
                            {% if MapUse.WorldUse == 'block' %}
                            <div id="world-map" style="display:{{MapUse.WorldUse}}" class="selectMap"></div>
                            {%endif%}
                            {% if MapUse.KoreaUse == 'block' %}
                            <div id="korea-map" style="display:{{MapUse.KoreaUse}}"></div>
                            {%endif%}
                            {% if MapUse.AreaUse == 'block' %}
                            <div id="seoul-map" style="display:{{MapUse.AreaUse}}"></div>
                            <div id="seongnam-map" style="display:{{MapUse.AreaUse}}"></div>
                            {%endif%}
                        </div>
                        <!-- END map -->
                    </div>
                    <!-- END card-body -->
                    <!-- BEGIN card-arrow -->
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                    <!-- END card-arrow -->
                </div>
                <!-- END card -->
            </div>
            <div class="d-flex">
                <div class="col-xl-6 col-lg-6" style="padding-right: 0.5rem">
                    <!-- BEGIN card -->
                    <div class="card mb-3 ">
                        <!-- BEGIN card-body -->
                        <div class="card-body h-205px" style="display: inline-flex;">
                            <button type="button" class="btn btn-outline-link btn-sm btn-moreInfo alarmCase-moreInfo"><i class="fas fa-ellipsis-h"></i></button>
                            <table class="table table-sm w-90 fs-12px mb-0 text-truncate text-white text-opacity-60"
                                   style="margin: 0 auto; vertical-align: middle;">
                                <thead>
                                <tr class="text-white text-opacity-75">
                                    <th class="w-50">알람 케이스</th>
                                    <th class="w-25 text-center">자산 수</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for alarmDataList in chartData.alamCaseDataList.nodeDataList %}
                                <tr>
                                    <td>{{alarmDataList.alarmCase}}</td>
                                    <td class="text-center">{{ alarmDataList.alarmCount }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- END card-body -->
                        <!-- BEGIN card-arrow -->
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                        <!-- END card-arrow -->
                    </div>
                    <!-- END card -->
                </div>
                <div class="col-xl-6 col-lg-6" style="padding-left: 0.5rem">
                    <!-- BEGIN card -->
                    <div class="card mb-3">
                        <!-- BEGIN card-body -->
                        <div class="card-body h-205px">
                            <div class="text-white text-opacity-75 mb-2">
                                <span class="w-50" style="font-size:12px;">IP 대역별 총 알람 수 (상위 5개)</span>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div id="apexTotalAlarmChart"></div>
                                </div>
                                <div class="col-6">
                                    {% if chartData.alarm_donutChartData %}
                                    <div class="pt-sm-2">
                                        {% for data in chartData.alarm_donutChartData|slice:":5" %}
                                        <div class="d-flex small text-white text-opacity-50 text-truncate">
                                            <div class="col-9 d-flex">
                                                <i class="fas fa-neuter fa-fw me-1 totalAlarmPin"></i>
                                                <div title="{{data.key}}">{{data.key}}</div>
                                            </div>
                                            <div class="col-2 text-center mb-sm-2">{{data.value}}</div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- END card-body -->
                        <!-- BEGIN card-arrow -->
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                        <!-- END card-arrow -->
                    </div>
                    <!-- END card -->
                </div>
            </div>
        </div>
        <!-- END col-6 -->

        <!-- BEGIN col-3 -->
        <div class="col-xl-3 col-lg-6">
            <!-- BEGIN card -->
            <div class="card mb-3">
                <!-- BEGIN card-body -->
                <div class="card-body h-150px">
                    <!-- BEGIN title -->
                    <button type="button" class="btn btn-outline-link btn-sm btn-moreInfo physicalServer-moreInfo"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="d-flex fw-bold small">
                        <div class="flex-grow-1">물리서버 벤더별 수량 (상위 3개)</div>
                    </div>
                    <!-- END title -->
                    <!-- BEGIN stat-lg -->
                    <div>
                        <div class="col-12">
                            <div class="mt-n3 mb-n2 h-100px" id="apexPhysicalServerChart"></div>
                        </div>
                    </div>
                    <!-- END stat-lg -->
                </div>
                <!-- END card-body -->

                <!-- BEGIN card-arrow -->
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
                <!-- END card-arrow -->
            </div>
            <!-- END card -->
        </div>
        <!-- END col-3 -->
        <!-- BEGIN col-3 -->
        <div class="col-xl-3 col-lg-6">
            <!-- BEGIN card -->
            <div class="card mb-3">
                <!-- BEGIN card-body -->
                <div class="card-body h-150px">
                    <!-- BEGIN title -->
                    <button type="button" class="btn btn-outline-link btn-sm btn-moreInfo gpuServer-moreInfo"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="d-flex fw-bold small">
                        <div class="flex-grow-1">GPU 서버 수량</div>
                    </div>
                    <!-- END title -->
                    <!-- BEGIN stat-lg -->
                    {% if chartData.GpuServerDataList %}
                    <div class="col-12 h-100px d-flex text-center align-content-center justify-content-center flex-md-column">
                        <div class="count-num">
                            <span class="fw-bold text-opacity-60 fs-35px pe-3 pb-10px ">{{ chartData.GpuServerDataList.value }}개</span>
                            <div class="conNumImg" style="position: relative;">
                                {% if chartData.GpuServerDataList.roc == 0 %}
                                <a class="conNumIcon text-decoration-none fs-25px"> - </a>
                                {% elif chartData.GpuServerDataList.roc > 0 %}
                                <img class="conArrow fs-25px pt-25px" src="{% static 'img/common/dashboard/arrowTop.png' %}">
                                {% elif chartData.GpuServerDataList.roc < 0 %}
                                <img class="conArrow fs-25px pt-25px" src="{% static 'img/common/dashboard/arrowBot.png' %}">
                                {% endif %}
                            </div>
                            <span class="conNum text-theme fw-bold fs-25px">
                            {% if chartData.GpuServerDataList.roc < 0 %}
                            {% widthratio chartData.GpuServerDataList.roc 1 -1 %}
                            {% else %}
                            {{ chartData.GpuServerDataList.roc }}
                            {% endif %}
                            </span>
                        </div>
                    </div>
                    <!-- END stat-lg -->
                </div>
                {% endif %}
                <!-- END card-body -->

                <!-- BEGIN card-arrow -->
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
                <!-- END card-arrow -->
            </div>
            <!-- END card -->
        </div>
        <!-- END col-3 -->

        <!-- BEGIN col-3 -->
        <div class="col-xl-3 col-lg-6">
            <!-- BEGIN card -->
            <div class="card mb-3">
                <!-- BEGIN card-body -->
                <div class="card-body h-150px">
                    <!-- BEGIN title -->
                    <div class="d-flex fw-bold small">
                        <div class="flex-grow-1 text-opacity-75">서버 최다 연결 IP (상위 3개)</div>
                    </div>
                    <!-- END title -->
                    <!-- BEGIN stat-lg -->
                    <div class="col-12 h-100px">
                        <!-- END stat-sm -->
                        {% if chartData.connectIpDataList %}
                        <div class="fs-12px">
                            <table class="table w-90 text-white text-opacity-60" style="margin: 0 auto; vertical-align: middle;">
                                <tbody>
                                {% for data in chartData.connectIpDataList %}
                                <tr class="text-opacity-60">
                                    <td class="w-150px text-start text-truncate" title="{{ data.ip }}">{{ data.ip }}</td>
                                    <td class="text-center text-truncate" title="{{ data.host }}">{{ data.host }}</td>
                                    <td class="text-center text-truncate" title="{{ data.count }}">{{ data.count }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                    <!-- END stat-lg -->
                </div>
                <!-- END card-body -->

                <!-- BEGIN card-arrow -->
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
                <!-- END card-arrow -->
            </div>
            <!-- END card -->
        </div>
        <!-- END col-3 -->

        <!-- BEGIN col-3 -->
        <div class="col-xl-3 col-lg-6">
            <!-- BEGIN card -->
            <div class="card mb-3">
                <!-- BEGIN card-body -->
                <div class="card-body h-150px">
                    <!-- BEGIN title -->
                    <div class="d-flex fw-bold small">
                        <div class="flex-grow-1 text-opacity-75">세션 최다 연결 서버 (상위 3개)</div>
                    </div>
                    <!-- END title -->
                    <!-- BEGIN stat-lg -->
                    <div class="col-12 h-100px">
                        <!-- END stat-sm -->
                        {% if chartData.connectServerDataList %}
                        <div class="fs-12px  ">
                            <table class="table w-90 text-white text-opacity-60" style="margin: 0 auto; vertical-align: middle;">
                                <tbody>
                                {% for data in chartData.connectServerDataList %}
                                <tr class="text-opacity-60">
                                    <td class="text-start text-truncate" title="{{ data.ip }}">{{ data.ip }}</td>
                                    <td class="w-180px text-center text-truncate" title="{{ data.name }}">{{ data.name }}</td>
                                    <td class="w-80px text-center text-truncate" title="{{ data.count }}">{{ data.count }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                    <!-- END stat-lg -->
                </div>
                <!-- END card-body -->
                <!-- BEGIN card-arrow -->
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
                <!-- END card-arrow -->
            </div>
            <!-- END card -->
        </div>
        <!-- END col-3 -->
        <!-- BEGIN col-6 -->
        <div class="col-xl-12 h-130px">
            <!-- BEGIN card -->
            <div class="card mb-3">
                <!-- BEGIN card-body -->
                <div class="card-body h-130px">
                    <!-- BEGIN swiper -->
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% if chartData.bannerDataList %}
                            {% for bannerData in chartData.bannerDataList %}
                            <div class="swiper-slide">
                                <div class="conBanner">
                                    <div class="count-title text-truncate fw-normal text-white text-opacity-75 px-sm-3 fs-12px"
                                         title="{{bannerData.name}} Count">{{bannerData.name}}
                                    </div>
                                    <div class="count-num">
                                        <span class="conTotalnum fw-bold text-opacity-60 fs-4">{{bannerData.value}}</span>
                                        <div class="conNumImg">
                                            {% if bannerData.roc == 0 %}
                                            <a class="conNumIcon text-decoration-none"> - </a>
                                            {% elif bannerData.roc > 0 %}
                                            <img class="conArrow"
                                                 src="{% static 'img/common/dashboard/arrowTop.png' %}">
                                            {% elif bannerData.roc < 0 %}
                                            <img class="conArrow"
                                                 src="{% static 'img/common/dashboard/arrowBot.png' %}">
                                            {% else %}
                                            <a class="conNumIcon text-decoration-none"> - </a>
                                            {% endif %}
                                        </div>
                                        <span class="conNum text-theme fw-bold">
											{% if bannerData.roc < 0 %}
											{% widthratio bannerData.roc 1 -1 %}
											{% else %}
											{{bannerData.roc}}
											{% endif %}
										</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- END swiper -->
                </div>
                <!-- END card-body -->
                <!-- BEGIN card-arrow -->
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
                <!-- END card-arrow -->
            </div>
            <!-- END card -->
        </div>
        <!-- END col-6 -->
    </div>
    <!-- END row -->
</div>
<!-- END #content -->
<script>
	window.setTimeout('window.location.reload()',600000);







</script>
{% endblock %}

