{% extends 'base.html' %}
{% load web_filter %}
{% block content %}
{% load static %}
<!-- BEGIN #content -->
<div>
    <!-- BEGIN page-header -->
    <p class="fs-24px pt-15px ps-6">
        알람 케이스 별 감지 자산 수
    </p>
    <!-- END page-header -->
    <div class="row">
        <!--BEGIN card-->
        <div class="card col-10 h-auto " style="margin: 10px auto;">
            <!--BEGIN card-body-->
            <div class="card-body">
                <table id="dashboard-popupTable" class="table w-100 fs-14px mb-0 text-truncate text-white text-opacity-60 m-auto">
                    <thead>
                        <tr class="table-active text-white text-opacity-75">
                            <th class="w-5 text-center">No</th>
                            <th class="w-15 text-center">IP</th>
                            <th class="w-25 text-center">메모리 95% 초과</th>
                            <th class="w-15 text-center">CPU 95% 초과</th>
                            <th class="w-15 text-center">디스크 95% 초과</th>
                            <th class="w-15 text-center">30분 이내 오프라인</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>IP 예시 1</td>
                            <td>Computer Name 예시 1</td>
                            <td>Ture (96%)</td>
                            <td>Ture (96%)</td>
                            <td>Ture (99%)</td>
                            <td>Ture</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>IP 예시 2</td>
                            <td>Computer Name 예시 2</td>
                            <td>False</td>
                            <td>Ture (96%)</td>
                            <td>Ture (99%)</td>
                            <td>Ture</td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td>IP 예시 3</td>
                            <td>Computer Name 예시 3</td>
                            <td>Ture (96%)</td>
                            <td>False</td>
                            <td>Ture (99%)</td>
                            <td>False</td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td>IP 예시 4</td>
                            <td>Computer Name 예시 4</td>
                            <td>False</td>
                            <td>Ture (96%)</td>
                            <td>False</td>
                            <td>False</td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>
                            <td>IP 예시 5</td>
                            <td>Computer Name 예시 5</td>
                            <td>Ture (97%)</td>
                            <td>False</td>
                            <td>False</td>
                            <td>False</td>
                        </tr>
                        <tr>
                            <td class="text-center">6</td>
                            <td>IP 예시 6</td>
                            <td>Computer Name 예시 6</td>
                            <td>False</td>
                            <td>False</td>
                            <td>False</td>
                            <td>Ture</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--END card-body-->
            <!--BEGIN card-arrow-->
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <!--END card-arrow-->
        </div>
        <!--END card-->
    </div>
</div>
{% endblock %}