{% extends 'base.html' %}
{% load web_filter %}
{% block content %}
{% load static %}
<!-- BEGIN #content -->
<div class="col-11" style="margin: 10px auto;">
    <!-- BEGIN page-header -->
    <p class="fs-24px pt-15px">
        알람케이스별 감지 자산 수 (전체)
    </p>
    <!-- END page-header -->
    <div class="row">
        <!--BEGIN card-->
        <div class="card h-auto" >
            <!--BEGIN card-body-->
            <div class="card-body">
                <table id="dashboard-popupTable" class="table w-100 fs-1ss4px mb-0 text-truncate text-white text-opacity-60 m-auto alarmCaseTable">
                    <thead>
                        <tr class="table-active text-white text-opacity-75">
                            <th class="w-10 text-center">번호</th>
                            <th class="w-25 text-center">IP 대역</th>
                            <th class="w-25 text-center">컴퓨터 이름</th>
                            <th class="w-10 text-center">메모리 95% 초과</th>
                            <th class="w-10 text-center">CPU 95% 초과</th>
                            <th class="w-10 text-center">디스크 95% 초과</th>
                            <th class="w-10 text-center"><span title="30분 이내">오프라인상태</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>IP 예시 1</td>
                            <td>Computer Name 예시 1</td>
                            <td class="text-center">True (96%)</td>
                            <td class="text-center">True (96%)</td>
                            <td class="text-center">True (99%)</td>
                            <td class="text-center">True</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>IP 예시 2</td>
                            <td>Computer Name 예시 2</td>
                            <td class="text-center">False</td>
                            <td class="text-center">True (96%)</td>
                            <td class="text-center">True (99%)</td>
                            <td class="text-center">True</td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td>IP 예시 3</td>
                            <td>Computer Name 예시 3</td>
                            <td class="text-center">True (96%)</td>
                            <td class="text-center">False</td>
                            <td class="text-center">True (99%)</td>
                            <td class="text-center">False</td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td>IP 예시 4</td>
                            <td>Computer Name 예시 4</td>
                            <td class="text-center">False</td>
                            <td class="text-center">True (96%)</td>
                            <td class="text-center">False</td>
                            <td class="text-center">False</td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>
                            <td>IP 예시 5</td>
                            <td>Computer Name 예시 5</td>
                            <td class="text-center">True (97%)</td>
                            <td class="text-center">False</td>
                            <td class="text-center">False</td>
                            <td class="text-center">False</td>
                        </tr>
                        <tr>
                            <td class="text-center">6</td>
                            <td>IP 예시 6</td>
                            <td>Computer Name 예시 6</td>
                            <td class="text-center">False</td>
                            <td class="text-center">False</td>
                            <td class="text-center">False</td>
                            <td class="text-center">False</td>
                        </tr>
                        <tr>
                            <td class="text-center">7</td>
                            <td>IP 예시 7</td>
                            <td>Computer Name 예시 7</td>
                            <td class="text-center">False</td>
                            <td class="text-center">True (97%)</td>
                            <td class="text-center">False</td>
                            <td class="text-center">True</td>
                        </tr>
                        <tr>
                            <td class="text-center">8</td>
                            <td>IP 예시 8</td>
                            <td>Computer Name 예시 8</td>
                            <td class="text-center">True (96%)</td>
                            <td class="text-center">True (98%)</td>
                            <td class="text-center">True (99%)</td>
                            <td class="text-center">False</td>
                        </tr>
                        <tr>
                            <td class="text-center">9</td>
                            <td>IP 예시 9</td>
                            <td>Computer Name 예시 9</td>
                            <td class="text-center">True (99%)</td>
                            <td class="text-center">True (96%)</td>
                            <td class="text-center">False</td>
                            <td class="text-center">False</td>
                        </tr>
                        <tr>
                            <td class="text-center">10</td>
                            <td>IP 예시 10</td>
                            <td>Computer Name 예시 10</td>
                            <td class="text-center">Flase</td>
                            <td class="text-center">True (99%)</td>
                            <td class="text-center">True (97%)</td>
                            <td class="text-center">True</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--END card-body-->
            <!--BEGIN card-arrow-->
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <!--END card-arrow-->
        </div>
        <!--END card-->
    </div>
</div>
{% endblock %}