{% extends 'base.html' %}
{% load web_filter %}
{% block content %}
{% load static %}
<!-- BEGIN #content -->
<div class="col-11" style="margin: 10px auto;">
    <!-- BEGIN page-header -->
    <p class="fs-24px pt-15px">
        알람케이스별 감지 자산 수 (전체)
    </p>
    <!-- END page-header -->
    <div class="row">
        <!--BEGIN card-->
        <div class="card h-auto" >
            <!--BEGIN card-body-->
            <div class="card-body">
                <table id="alarmCaseDashboard-popupTable" class="table fs-14px mb-0 text-center text-white text-opacity-60 m-auto">
                    <thead>
                        <tr class="table-active text-white text-opacity-75">
                            <th class="text-center">번호</th>
                            <th class="text-center">IP</th>
                            <th class="text-center">컴퓨터 이름</th>
                            <th class="text-center">메모리 95% 초과(%)</th>
                            <th class="text-center">CPU 95% 초과(%)</th>
                            <th class="text-center">디스크 99% 초과(%)</th>
                            <th class="text-center">30분 이내 오프라인</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--END card-body-->
            <!--BEGIN card-arrow-->
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <!--END card-arrow-->
        </div>
        <!--END card-->
    </div>
</div>
{% endblock %}