{% extends 'base.html' %}
{% load web_filter %}
{% block content %}
{% load static %}
<!-- BEGIN #content -->
<div>
    <!-- BEGIN page-header -->
    <p class="fs-24px pt-15px ps-6">
        CPU 사용률 높은 서버
    </p>
    <!-- END page-header -->
    <div class="row">
        <!--BEGIN card-->
        <div class="card col-10 h-auto " style="margin: 10px auto;">
            <!--BEGIN card-body-->
            <div class="card-body">
                <table id="dashboard-popupTable" class="table w-100 fs-14px mb-0 text-truncate text-white text-opacity-60 m-auto">
                    <thead>
                        <tr class="table-active text-white text-opacity-75">
                            <th class="w-5 text-center">No</th>
                            <th class="w-30 text-center">IP</th>
                            <th class="w-40 text-center">Computer Name</th>
                            <th class="w-25 text-center">CPU 속도</th>
                            <th class="w-10 text-center">사용률</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>IP 예시 1</td>
                            <td>Computer Name 예시 1</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">96%</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>IP 예시 2</td>
                            <td>Computer Name 예시 2</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">91%</td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td>IP 예시 3</td>
                            <td>Computer Name 예시 3</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">91%</td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td>IP 예시 4</td>
                            <td>Computer Name 예시 4</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">91%</td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>
                            <td>IP 예시 5</td>
                            <td>Computer Name 예시 5</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">91%</td>
                        </tr>
                        <tr>
                            <td class="text-center">6</td>
                            <td>IP 예시 6</td>
                            <td>Computer Name 예시 6</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">89%</td>
                        </tr>
                        <tr>
                            <td class="text-center">7</td>
                            <td>IP 예시 7</td>
                            <td>Computer Name 예시 7</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">88%</td>
                        </tr>
                        <tr>
                            <td class="text-center">8</td>
                            <td>IP 예시 8</td>
                            <td>Computer Name 예시 8</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">87%</td>
                        </tr>
                        <tr>
                            <td class="text-center">9</td>
                            <td>IP 예시 9</td>
                            <td>Computer Name 예시 9</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">86%</td>
                        </tr>
                        <tr>
                            <td class="text-center">10</td>
                            <td>IP 예시 10</td>
                            <td>Computer Name 예시 10</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">85%</td>
                        </tr>
                        <tr>
                            <td class="text-center">11</td>
                            <td>IP 예시 11</td>
                            <td>Computer Name 예시 11</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">77%</td>
                        </tr>
                        <tr>
                            <td class="text-center">12</td>
                            <td>IP 예시 12</td>
                            <td>Computer Name 예시 12</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">66%</td>
                        </tr>
                        <tr>
                            <td class="text-center">13</td>
                            <td>IP 예시 13</td>
                            <td>Computer Name 예시 13</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">55%</td>
                        </tr>
                        <tr>
                            <td class="text-center">14</td>
                            <td>IP 예시 14</td>
                            <td>Computer Name 예시 14</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">44%</td>
                        </tr>
                        <tr>
                            <td class="text-center">15</td>
                            <td>IP 예시 15</td>
                            <td>Computer Name 예시 15</td>
                            <td class="text-center">nnnnn/nnnnn Mhz</td>
                            <td class="text-center">33%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--END card-body-->
            <!--BEGIN card-arrow-->
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <!--END card-arrow-->
        </div>
        <!--END card-->
    </div>
</div>
{% endblock %}