{% extends 'base.html' %}
{% load web_filter %}
{% block content %}
{% load static %}
<!-- BEGIN #content -->
<div class="col-11" style="margin: 10px auto;">
    <!-- BEGIN page-header -->
    <p class="fs-24px pt-10px">
        GPU 서버 수 (전체)
    </p>
    <!-- END page-header -->
    <div class="row">
        <!--BEGIN card-->
        <div class="card h-auto">
            <!--BEGIN card-body-->
            <div class="card-body">
                <table id="dashboard-popupTable" class="table w-100 fs-14px mb-0 text-truncate text-white text-opacity-60 m-auto gpuServerTable">
                    <thead>
                        <tr class="table-active text-white text-opacity-75">
                            <th class="w-10 text-center">번호</th>
                            <th class="w-20 text-center">IP 대역</th>
                            <th class="w-25 text-center">컴퓨터 이름</th>
                            <th class="w-35 text-center">파트모델 이름</th>
                            <th class="w-10 text-center">수량</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>IP 예시 1</td>
                            <td>Computer Name 예시 1</td>
                            <td>GPU 파트모델 예시 1, GPU 파트모델 예시 2, GPU 파트모델 예시 3, GPU 파트모델 예시 4, GPU 파트모델 에시 5 </td>
                            <td class="text-center">5</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>IP 예시 2</td>
                            <td>Computer Name 예시 2</td>
                            <td>GPU 파트모델 예시 1, GPU 파트모델 예시 2, GPU 파트모델 예시 3, GPU 파트모델 예시 4</td>
                            <td class="text-center">4</td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td>IP 예시 3</td>
                            <td>Computer Name 예시 3</td>
                            <td>GPU 파트모델 예시 1, GPU 파트모델 예시 2, GPU 파트모델 예시 3</td>
                            <td class="text-center">3</td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td>IP 예시 4</td>
                            <td>Computer Name 예시 4</td>
                            <td>GPU 파트모델 예시 1, GPU 파트모델 예시 2, GPU 파트모델 예시 3</td>
                            <td class="text-center">3</td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>
                            <td>IP 예시 5</td>
                            <td>Computer Name 예시 5</td>
                            <td>GPU 파트모델 예시 1, GPU 파트모델 예시 2, GPU 파트모델 예시 3</td>
                            <td class="text-center">3</td>
                        </tr>
                        <tr>
                            <td class="text-center">6</td>
                            <td>IP 예시 6</td>
                            <td>Computer Name 예시 6</td>
                            <td>GPU 파트모델 예시 1, GPU 파트모델 예시 2</td>
                            <td class="text-center">2</td>
                        </tr>
                        <tr>
                            <td class="text-center">7</td>
                            <td>IP 예시 7</td>
                            <td>Computer Name 예시 7</td>
                            <td>GPU 파트모델 예시 1, GPU 파트모델 예시 2</td>
                            <td class="text-center">2</td>
                        </tr>
                        <tr>
                            <td class="text-center">8</td>
                            <td>IP 예시 8</td>
                            <td>Computer Name 예시 8</td>
                            <td>GPU 파트모델 예시 1, GPU 파트모델 예시 2</td>
                            <td class="text-center">2</td>
                        </tr>
                        <tr>
                            <td class="text-center">9</td>
                            <td>IP 예시 9</td>
                            <td>Computer Name 예시 9</td>
                            <td>GPU 파트모델 예시 1, GPU 파트모델 예시 2</td>
                            <td class="text-center">2</td>
                        </tr>
                        <tr>
                            <td class="text-center">10</td>
                            <td>IP 예시 10</td>
                            <td>Computer Name 예시 10</td>
                            <td>GPU 파트모델 예시 1, GPU 파트모델 예시 2</td>
                            <td class="text-center">2</td>
                        </tr>
                        <tr>
                            <td class="text-center">11</td>
                            <td>IP 예시 11</td>
                            <td>Computer Name 예시 11</td>
                            <td>GPU 파트모델 예시 1, GPU 파트모델 예시 2</td>
                            <td class="text-center">2</td>
                        </tr>
                        <tr>
                            <td class="text-center">12</td>
                            <td>IP 예시 12</td>
                            <td>Computer Name 예시 12</td>
                            <td>GPU 파트모델 예시 1, GPU 파트모델 예시 2</td>
                            <td class="text-center">2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--END card-body-->
            <!--BEGIN card-arrow-->
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <!--END card-arrow-->
        </div>
        <!--END card-->
    </div>
</div>
{% endblock %}