{% extends 'base.html' %}
{% load web_filter %}
{% block content %}
{% load static %}
<!-- BEGIN #content -->
<div class="col-11" style="margin: 10px auto;">
    <!-- BEGIN page-header -->
    <p class="fs-24px pt-10px">
        메모리 사용률 높은 서버
    </p>
    <!-- END page-header -->
    <div class="row">
        <!--BEGIN card-->
        <div class="card h-auto ">
            <!--BEGIN card-body-->
            <div class="card-body">
                <table id="dashboard-popupTable" class="table w-100 fs-14px mb-0 text-truncate text-white text-opacity-60 m-auto memoryTable">
                    <thead>
                        <tr class="table-active text-white text-opacity-75">
                            <th class="w-5 text-center">번호</th>
                            <th class="w-30 text-center">IP</th>
                            <th class="w-40 text-center">자산 이름</th>
                            <th class="w-10 text-center">사용량</th>
                            <th class="w-10 text-center">총량</th>
                            <th class="w-10 text-center">사용률</th>
                        </tr>
                        </thead>
{#                        {% if chartData.memoryMoreDataList %}#}
                        <tbody>
{#                        {% for data in chartData.memoryMoreDataList %}#}
                        <tr>
{#                            <td class="text-center">{{ forloop.counter }}</td>#}
{#                            <td>{{ data.ip}}</td>#}
{#                            <td>{{ data.name}}</td>#}
{#                            <td class="text-center">{{ data.use }} / {{ data.total }} MB</td>#}
{#                            <td class="text-center">{{ data.usage }}%</td>#}
                        </tr>
{#                        {% endfor %}#}
                    </tbody>
{#                    {% endif %}#}
                </table>
            </div>
            <!--END card-body-->
            <!--BEGIN card-arrow-->
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <!--END card-arrow-->
        </div>
        <!--END card-->
    </div>
</div>
{% endblock %}