{% extends 'base.html' %}
{% load web_filter %}
{% block content %}
{% load static %}

<div id="content" class="app-content">
    <p>실행중인 서비스 통계</p>
    <div class="justify-content-between" style="display: flex; flex:1;">
        <span class="mx-3">총 93건</span>
        <div class="mb-5">
            <span>검색 : </span>
            <input type="text">
        </div>
    </div>
    <table class="table w-30 fs-12px mb-0 text-truncate text-white text-opacity-60 m-auto">
        <thead>
        <tr class="text-white text-opacity-75">
            <th class="w-10 text-center">No</th>
            <th class="w-75 text-center">서비스명</th>
            <th class="w-15 text-center">수량</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-end">1</td>
            <td>서비스명 예시 1</td>
            <td class="text-end">83</td>
        </tr>
        <tr>
            <td class="text-end">2</td>
            <td>서비스명 예시 2</td>
            <td class="text-end">32</td>
        </tr>
        <tr>
            <td class="text-end">3</td>
            <td>서비스명 예시 3</td>
            <td class="text-end">14</td>
        </tr>
        <tr>
            <td class="text-end">4</td>
            <td>서비스명 예시 4</td>
            <td class="text-end">12</td>
        </tr>
        <tr>
            <td class="text-end">5</td>
            <td>서비스명 예시 5</td>
            <td class="text-end">10</td>
        </tr>
        <tr>
            <td class="text-end">6</td>
            <td>서비스명 예시 6</td>
            <td class="text-end">9</td>
        </tr>
        <tr>
            <td class="text-end">7</td>
            <td>서비스명 예시 7</td>
            <td class="text-end">8</td>
        </tr>
        <tr>
            <td class="text-end">8</td>
            <td>서비스명 예시 8</td>
            <td class="text-end">7</td>
        </tr>
        <tr>
            <td class="text-end">9</td>
            <td>서비스명 예시 9</td>
            <td class="text-end">6</td>
        </tr>
        <tr>
            <td class="text-end">10</td>
            <td>서비스명 예시 10</td>
            <td class="text-end">6</td>
        </tr>
        <tr>
            <td class="text-end">11</td>
            <td>서비스명 예시 11</td>
            <td class="text-end">5</td>
        </tr>
        <tr>
            <td class="text-end">12</td>
            <td>1서비스명 예시 12</td>
            <td class="text-end">5</td>
        </tr>
        <tr>
            <td class="text-end">13</td>
            <td>서비스명 예시 13</td>
            <td class="text-end">5</td>
        </tr>
        <tr>
            <td class="text-end">14</td>
            <td>서비스명 예시 14</td>
            <td class="text-end">5</td>
        </tr>
        <tr>
            <td class="text-end">15</td>
            <td>서비스명 예시 15</td>
            <td class="text-end">5</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}