{% extends 'base.html' %}
{% load web_filter %}
{% block content %}
{% load static %}

    <div id="content" class="app-content">

        <p>각 대역별 서버 수량</p>
        <div class="justify-content-between" style="display: flex; flex:1;">
            <span class="mx-3">총 93건</span>

            <div class="mb-5">
                <span>검색 : </span>
                <input type="text">
            </div>
        </div>

        <div class="w-90">
            <table class="table w-250px fs-12px mb-0 text-truncate text-white text-opacity-60" style="margin: 0 auto;">
                                <thead>
                                <tr class="text-white text-opacity-75">
                                    <th class="w-10 text-center">No</th>
                                    <th class="w-60 text-center">대역</th>
                                    <th class="w-auto text-center">수량</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-end">1</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">43</td>
                                </tr>
                                <tr>
                                    <td class="text-end">2</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">38</td>
                                </tr>
                                <tr>
                                    <td class="text-end">3</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">27</td>
                                </tr>
                                <tr>
                                    <td class="text-end">4</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">21</td>
                                </tr>
                                <tr>
                                    <td class="text-end">5</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">10</td>
                                </tr>
                                <tr>
                                    <td class="text-end">6</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">9</td>
                                </tr>
                                <tr>
                                    <td class="text-end">7</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">8</td>
                                </tr>
                                <tr>
                                    <td class="text-end">8</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">7</td>
                                </tr>
                                <tr>
                                    <td class="text-end">9</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">6</td>
                                </tr>
                                <tr>
                                    <td class="text-end">10</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">6</td>
                                </tr>
                                <tr>
                                    <td class="text-end">11</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">6</td>
                                </tr>
                                <tr>
                                    <td class="text-end">12</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">5</td>
                                </tr>
                                <tr>
                                    <td class="text-end">13</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">5</td>
                                </tr>
                                <tr>
                                    <td class="text-end">14</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">5</td>
                                </tr>
                                <tr>
                                    <td class="text-end">15</td>
                                    <td>192.168.xx</td>
                                    <td class="text-end">5</td>
                                </tr>
                                </tbody>
                            </table>

        </div>
    </div>

{% endblock %}