@font-face {
  font-family: 'NotoSans-Regular';
  src: url('NotoSans-Regular.eot');
  src: url('NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-Regular.ttf') format('truetype'),
    url('NotoSans-Regular.woff') format('woff'),
    url('NotoSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR-Regular-Alphabetic';
  src: url('NotoSansKR-Regular-Alphabetic.eot');
  src: url('NotoSansKR-Regular-Alphabetic.eot?#iefix') format('embedded-opentype'),
    url('NotoSansKR-Regular-Alphabetic.ttf') format('truetype'),
    url('NotoSansKR-Regular-Alphabetic.woff') format('woff'),
    url('NotoSansKR-Regular-Alphabetic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}