<!doctype html>
{% load static %}
<html lang="ko">

<head>
  <title>X-Factor</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- favicon -->
  <link rel="shortcunt icon" href="{% static 'img/X-Factor_favicon/favicon.ico' %}">
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/X-Factor_favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/X-Factor_favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/X-Factor_favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/X-Factor_favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/X-Factor_favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/X-Factor_favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/X-Factor_favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/X-Factor_favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/X-Factor_favicon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/X-Factor_favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/X-Factor_favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/X-Factor_favicon/favicon-16x16.png' %}">

  <!--    <meta name="theme-color" content="#ffffff">-->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/bootstrap/dist/css/bootstrap.min.css' %}">
  <!-- web CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'oldStyle.css' %}">

  <!-- ================== BEGIN core-css ================== -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendor.min.css' %}">
  <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" />
  <!-- ================== END core-css ================== -->

  <!-- ================== BEGIN allFont css ================== -->
  <link href="{% static 'assets/css/fonts/allFont.css' %}" rel="stylesheet" />
  <!-- ================== END allFont css ================== -->

  <!-- ================== BEGIN datatable-css ================== -->
  <link rel="stylesheet" type="text/css"
    href="{% static 'assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}">
  <link rel="stylesheet" type="text/css"
    href="{% static 'assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}">
  <link rel="stylesheet" type="text/css"
    href="{% static 'assets/plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}">
  <!-- ================== END datatable-css ================== -->

  <!-- ================== BEGIN daterangepicker-css ================== -->
  <link rel="stylesheet" type="text/css"
    href="{% static 'assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
  <link rel="stylesheet" type="text/css"
    href="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}">
  <!-- ================== END daterangepicker-css ================== -->

  <!-- ================== BEGIN swiper-CSS ================== -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
  <!-- ================== END swiper-CSS ================== -->

  <!-- ================== BEGIN dashboard-CSS ================== -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
  <!-- ================== END dashboard-CSS ================== -->

  <!-- ================== BEGIN page-css ================== -->
  <link href="{% static 'assets/plugins/jvectormap-next/jquery-jvectormap.css' %}" rel="stylesheet" />
  <!-- ================== END page-css ================== -->
</head>

<body class="theme-orange">
  <!-- BEGIN #app -->
  <div id="app" class="app">
    <!-- 네비게이션바 -->
    {% include "navbar.html" %}
    <!-- 사이드바 -->
    {% include "sidebar.html" %}
    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->
  </div>
  <!-- END #app -->
  <!-- Bootstrap JS -->
  <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>

  <!-- ================== BEGIN core-js ================== -->
  <script src="{% static 'assets/js/vendor.min.js' %}"></script>
  <script src="{% static 'assets/js/app.min.js' %}"></script>
  <!-- ================== END core-js ================== -->

  <!-- ================== BEGIN swiper-js ================== -->
  <script src="{% static 'js/jquery/swiper-bundle.min.js' %}"></script>
  <!-- ================== END swiper-js ================== -->

  <!-- ================== BEGIN page-js ================== -->
  <script src="{% static 'assets/plugins/jvectormap-next/jquery-jvectormap.min.js' %}"></script>
  <script src="{% static 'assets/plugins/jvectormap-content/world-mill.js' %}"></script>
  <script src="{% static 'assets/plugins/jvectormap-content/kr-mill.js' %}"></script>
  <script src="{% static 'assets/plugins/jvectormap-content/sn-mill.js' %}"></script>
  <script src="{% static 'assets/plugins/apexcharts/dist/apexcharts.min.js' %}"></script>
  {% if Customer == 'NC'%}
<!--  <script src="{% static 'assets/js/demo/dashboard.demo.nc.js' %}"></script>-->
  <script src="{% static 'assets/js/demo/dashboard.demo.nc.banner.js' %}"></script>
  {% else %}
  <script src="{% static 'assets/js/demo/dashboard.demo.js' %}"></script>
  {% endif %}
  <!-- ================== END page-js ================== -->

  <!-- ================== BEGIN dashboard-js ================== -->
  <script src="{% static 'js/common/dashboard.js' %}"></script>
  <!-- ================== END dashboard-js ================== -->

  <!-- ================== BEGIN TABLE-js ================== -->
  <script src="{% static 'assets/plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>

  <script src="{% static 'assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/plugins/moment/min/moment.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
  <!-- ================== END TABLE-js ================== -->

  <script src="{% static 'js/common/nav.js' %}"></script>
  <script src="{% static 'js/chart/network.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/d3/d3.v3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/d3/d3v4.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/d3/queue.v1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common/topojson.v1.min.js' %}"></script>



  <script>
    var a = {{ chartData| safe}};
    var mapUse = {{ MapUse| safe}};

    var worldMapData = [];
    for (let i = 0; i < a.WorldMapDataList[0].length; i++) {
      worldMapData.push(a.WorldMapDataList[0][0].gps);
    };
    //worldMapData.push([35.1552983,129.1152895]);
    //worldMapData.push([37.3994481,127.1088779]);



    var seongnamNetwork = [
      {
        "nodes": [
          { "id": "Ncrd", "group": "ncrd", "x": 555, "y": 251 },
          { "id": "Ncalpha", "group": "ncalpha", "x": 455, "y": 351 }
        ],
        "links": [
          { "source": "Ncrd", "target": "Ncalpha", "distance": 300 },
          { "source": "Ncalpha", "target": "Ncrd", "distance": 300 }
        ]
      }
    ];
    var networkData = [{
      "nodes": [
        {% for nodeData in chartData.AssociationDataList.nodeDataList %}
    { "id": '{{nodeData.id}}', "group": '{{nodeData.group}}', "name": '{{nodeData.name}}', "alarmCase": '{{nodeData.alarmCase}}', "alarmCount": '{{nodeData.alarmCount}}', "point": '{{nodeData.point}}' },
    {% endfor %}
  ],
    "links": [
      {% for linksData in chartData.AssociationDataList.linksDataList %}
    { "source": '{{linksData.source}}', "target": '{{linksData.target}}', "distance": 200 },
    {% endfor %}
  ]
}];
    networkChart(networkData);

  </script>
</body>

</html>