<!doctype html>
{% load static %}
<html lang="ko">
<head>
    <title>X-Factor</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
	<meta name="author" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/bootstrap/dist/css/bootstrap.min.css' %}">
    <!-- web CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'oldStyle.css' %}">
    <!-- ================== BEGIN core-css ================== -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendor.min.css' %}">
	<link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
	<!-- ================== BEGIN page-css ================== -->
	<link href="{% static 'assets/plugins/jvectormap-next/jquery-jvectormap.css' %}" rel="stylesheet" />
	<!-- ================== END page-css ================== -->
</head>
<body>
<!-- 네비게이션바 -->
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- Bootstrap JS -->
<script src="{% static 'assets/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>