<div id="sidebar" class="app-sidebar">
	<div class="app-sidebar-content ps fs-14px" data-scrollbar="true" data-height="100%" data-init="true" style="height: 100%;">
		<div class="menu">
			<!-- BEGIN menu-header -->
			<div class="menu-header fs-25px text-center" style="color: #ffffff">사용자 가이드</div>
			<!-- END menu-header -->
			<!-- BEGIN X-Factor 소개 -->
			<div class="menu-item">
				<a href="/documentation_ug" class="menu-link">
					<span class="menu-icon"><i class="bi bi-journal-text"></i></span>
					<span class="menu-text">X-Factor 소개</span>
				</a>
			</div>
			<!-- END X-Factor 소개 -->
			<!-- BEGIN X-Factor 사양 -->
			<div class="menu-item">
				<a href="/specification_ug" class="menu-link">
					<span class="menu-icon"><i class="bi bi-journal-text"></i></span>
					<span class="menu-text">권장 사양</span>
				</a>
			</div>
			<!-- END X-Factor 사양 -->
			<!-- BEGIN 사용자 가이드 -->
			<div class="menu-item has-sub">
				<a href="#" class="menu-link">
					<span class="menu-icon"><i class="bi bi-journal-bookmark-fill"></i></span>
					<span class="menu-text">사용자 가이드</span>
					<span class="menu-caret"><i class="caret"></i></span>
				</a>
				<div class="menu-submenu" style="display: none;">
					<div class="menu-item">
						<a href="/start_ug" class="menu-link">
							<span class="menu-icon"><i class="bi bi-box-arrow-right"></i></span>
							<span class="menu-text">실행</span>
						</a>
					</div>
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon"><i class="bi bi-box-arrow-right"></i></span>
							<span class="menu-text">대시보드</span>
							<span class="menu-caret"><i class="caret"></i></span>
						</a>
						<div class="menu-submenu" style="display: none;">
							<div class="menu-item">
								<a href="/dashboard_public_ug" class="menu-link">
									<span class="menu-icon"><i class="bi bi-arrow-return-right"></i></span>
									<span class="menu-text">공통</span>
								</a>
							</div>
							<div class="menu-item">

								<a href="/dashboard_chart_ug" class="menu-link">
									<span class="menu-icon"><i class="bi bi-arrow-return-right"></i></span>
									<span class="menu-text">차트</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="/dashboard_etc_ug" class="menu-link">
									<span class="menu-icon"><i class="bi bi-arrow-return-right"></i></span>
									<span class="menu-text">ETC</span>
								</a>
							</div>
						</div>
					</div>
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon"><i class="bi bi-box-arrow-right"></i></span>
							<span class="menu-text">취약점</span>
							<span class="menu-caret"><i class="caret"></i></span>
						</a>
						<div class="menu-submenu" style="display: none;">
							<div class="menu-item">
								<a href="/weak_public_ug" class="menu-link">
									<span class="menu-icon"><i class="bi bi-arrow-return-right"></i></span>
									<span class="menu-text">공통</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="/weak_windows_ug" class="menu-link">
									<span class="menu-icon"><i class="bi bi-arrow-return-right"></i></span>
									<span class="menu-text">Windows</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="/weak_linux_ug" class="menu-link">
									<span class="menu-icon"><i class="bi bi-arrow-return-right"></i></span>
									<span class="menu-text">Linux</span>
								</a>
							</div>
						</div>
					</div>
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon"><i class="bi bi-box-arrow-right"></i></span>
							<span class="menu-text">보고서</span>
							<span class="menu-caret"><i class="caret"></i></span>
						</a>
						<div class="menu-submenu" style="display: none;">
							<div class="menu-item">
								<a href="/report_public_ug" class="menu-link">
									<span class="menu-icon"><i class="bi bi-arrow-return-right"></i></span>
									<span class="menu-text">공통</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="/report_all_ug" class="menu-link fs-12px">
									<span class="menu-icon"><i class="bi bi-arrow-return-right"></i></span>
									<span class="menu-text">일/주/월별 보고서</span>
								</a>
							</div>
						</div>
					</div>
					<div class="menu-item">
						<a href="/setting_ug" class="menu-link">
							<span class="menu-icon"><i class="bi bi-box-arrow-right"></i></span>
							<span class="menu-text">설정</span>
						</a>
					</div>
				</div>
			</div>
			<!-- END 사용자 가이드 -->
			<!-- BEGIN 기술 지원 -->
			<div class="menu-item">
				<a href="/technical_support_ug" class="menu-link">
					<span class="menu-icon"><i class="bi bi-screwdriver"></i></span>
					<span class="menu-text">기술 지원</span>
				</a>
			</div>
			<!-- END 기술 지원 -->
			<!-- BEGIN faq -->
			<div class="menu-item">
				<a href="/faq_ug" class="menu-link">
					<span class="menu-icon"><i class="bi bi-question-circle"></i></span>
					<span class="menu-text">FAQ</span>
				</a>
			</div>
			<!-- END faq -->
		</div>
		<div class="p-3 px-4 mt-auto">
			<a href="/dashboard" class="btn d-block btn-outline-theme">
				<i class="fa fa-code-branch me-2 ms-n2 opacity-5"></i> Dashboard
			</a>
		</div>
	</div>
</div>
<button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>